.profile {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  text-align: center;
  margin: 0 30% 0;
  color: rgb(151, 162, 174);
  align-items: center;
}

.description {
  border-bottom: 1px solid rgb(151, 162, 174);
  width: 300px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

.avatar {
  border-radius: 50%;
}

.name {
  color: black;
  font-size: 1.5rem;
}

.stats {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  background-color: rgb(243, 246, 249);
  margin: 0;
}

.quantity {
  color: black;
}

.profile li {
  list-style: none;
  border-right: 1px solid rgb(151, 162, 174);
  width: 100%;
  padding: 20px 0 20px;
}

li:last-child {
  border-right: none;
}

span {
  display: block;
}
