.item {
  width: 300px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 0;
  background-color: white;
  border: 1px solid darkgray;
}

.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 15px;
}

.online {
  background-color: greenyellow;
}

.offline {
  background-color: #ff2f3c;
}

.avatar {
  border-radius: 25%;
  margin-right: 30px;
}
